.demo3
  background-color #fff
  .footer-btn
    margin-top 20px
  .task-item
    padding 10px
    width 70%
    margin 0 auto
    &-info
      display flex
      .item-title
        margin-left 10px
        flex 1
        text-align left
  .input-container
    input
      padding 10px
      width 50%
  .task-input
    width 100%
    padding 10px