.bfc-container
  .bfc-child
    background-color lightblue
    margin 8px
    height 30px
    width 30px
    &:after
      content " "
      height 0
      visibility hidden
      display block
      clear both
.bfc-box
  overflow: hidden;
  p
    width 30px
    height 30px
    background lightblue
    margin 8px
.bfc-float
  width 30px
  height 30px
  background lightblue
  float left
.bfc-text
  width 60px
  height 60px
  background red
.hidden
  overflow: hidden;