.demo1 {
  /* background-color: #eee; */
  /* height: 100%; */
}
.todo-list {
  background-color: #fff;
  width: 70%;
  margin: 30px auto 0;
}

.todo-list li {
  border-top: 1px solid #eee;
}

.todo-item {
  position: relative;
}

.todo-status {
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.todo-item .todo-content {
  padding: 15px 60px 15px;
}

.todo-item .delete-icon {
  display: none;
  position: absolute;
  /* 计算属性实现的垂直对齐 */
  top: calc(50% - 12px);
  right: 10px;
}
.todo-item:hover .delete-icon {
  display: block;
}

.todo-list li:last-child {
  border-bottom: 1px solid #eee;
}

.todo-item {
  display: flex;
}
.todo-content {
  flex: 1;
}
.input-wrapper {
  padding: 10px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
.input-wrapper input {
  width: 80%;
  padding: 15px;
  font-size: 18px;
}

.opt-group {
  display: flex;
  padding: 15px;
}

.todos-tips, .todo-clear {
  padding: 0 15px;
}

.toggle-type {
  flex: 1;
  display: flex;
  justify-content: center;
}

.toggle-type a {
  padding: 0 10px;
  border: 1px solid transparent;
}

a.active-filter {
  /* border: 1px solid #a09595; */
  border-color: #a09595;
}