#root
  height 100%
.layout-body
  height 100%
.nav-logo
  padding 5px 40px 5px 0
  width 200px
  background-color #000
  &-content
    width 150px
    height 100%
    background-image url('./assets/img/react.jpeg')
    background-size contain
    background-repeat no-repeat
    background-position center