ul, li
  margin 0
  padding 0
ul
 list-style none
#root
  height 100%
.layout-body
  height 100%
.nav-logo
  padding 5px 40px 5px 0
  width 200px
  background-color #000
  &-content
    width 150px
    height 100%
    background-image url('./assets/img/react.jpeg')
    background-size contain
    background-repeat no-repeat
    background-position center
.main-content
  height 100%
  margin 24px 16px 0
  background-color #fff
  overflow initial